.giftContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .primary {
    display: flex;
    gap: 10px;
  }
  
  .primaryOne,
  .primaryTwo {
    flex: 1;
  }
  
  .primaryOne img,
  .primaryTwo img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .primaryOne img:hover,
  .primaryTwo img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .left {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
  }
  
  .leftOne,
  .leftTwo {
    flex: 1;
  }

  .giftHead{
    text-align: center;
    color: #832721;
    
  }
  .giftTxt{
    text-align: center;
    margin-top: -10px;
  }
  
  .leftOne img,
  .leftTwo img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .leftOne img:hover,
  .leftTwo img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .leftOne{
    max-width: 300px !important;
    /* max-height: 200px !important; */
  } 
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .giftContainer {
      /* grid-template-columns: 1fr; */
    }
  
    .right,
    .left {
      flex-direction: column;
    }
  
    .primary {
      flex-direction: column;
    }
  }
  